.entorno {
    display: flex;
    justify-content: center;
}

#uno {
    text-align: center;
    padding-top: 1em;
}

.input {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    padding-bottom: 3px;
}
